label, input {
    font-family: 'VCROSDMono';
}

.add-movie-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.form-input label {
    margin-bottom: 3px;
}

#submitBtn {
    margin: 10px;
}

#titleWrap {
    margin: 0px;
}