.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-info {
    display: flex;
    align-items: center;
    margin: 50px;
}

.profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}

.profile-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.profile-img {
    flex-shrink: 0;
    max-width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.profile-title-wrapper {
    text-align: center;
}

.button {
    margin-bottom: 50px;
    border: 2px inset black;
    padding: 3px;
    font-family: 'VCROSDMono';
}

#collectionBtn {
    width: 715px;
    height: 250px;
}