.friend-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.friendCard {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 6%;
    text-align: center;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 15px;
}

.friend__img {
    flex-shrink: 0;
    width: 100px;
    height: 150px;
    object-fit: cover;
}

.title-wrapper {
    text-align: center;
    margin: 2em auto 2em auto;
}