.friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.image__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 200px;
    margin: 3em;
}

.friend__img {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
}

.friend__email {
    margin-bottom: 10px;
}

button {
    border: none;
    background-color: transparent;
    outline: none;
}

#ejectImg {
    height: 30px;
}

#ejectImg:hover {
    opacity: 0.5;
    cursor: pointer;
}

#userNameDisplay {
    font-family: 'VCROSDMono';
    font-weight: lighter;
}

#userNameDisplay:hover {
    cursor: pointer;
    opacity: 0.5;
}