.friend-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.friendCard {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 6%;
    text-align: center;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 15px;
}

.friend__img {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.title-wrapper {
    text-align: center;
    margin: 2em auto 3em auto;
}

.bn1 {
    text-align: center;
    margin: 5px auto 10px auto;
    outline: none;
    border: none;
    background-color: #232423;
    padding: 0.3em 1.2em;
    border-radius: 30px;
    font-size: 0.6rem;
    font-weight: 550;
    color: #ffffff;
    background-size: 100% 100%;
    box-shadow: 0 0 0 4px #232423 inset;
    width: 150px;
    height: 30px;
}
  
.bn1:hover {
    background-image: linear-gradient(
      55deg,
      transparent 10%,
      #161616 10% 20%,
      transparent 20% 30%,
      #161616 30% 40%,
      transparent 40% 50%,
      #161616 50% 60%,
      transparent 60% 70%,
      #161616 70% 80%,
      transparent 80% 90%,
      #161616 90% 100%
    );
    animation: background 3s linear infinite;
}