.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 40px 40px 40px;
}

.movie-card-img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 589px;
    flex-wrap: wrap;
}

.cardInfo {
    font-family: 'VCROSDMono';
    font-weight: normal;
    display: flex;
    flex-direction: column;
    text-align : center;
}

#cardInfo h3 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

#cardInfo p {
    margin: 0;
    padding: 0;
}

#movieTitle:hover {
    opacity: 0.5;
}