.movie-collection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.collection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.movie-collection {
    margin-bottom: 50px;
}

.button {
    margin-bottom: 50px;
    border: 2px solid black;
    padding: 3px;
    font-family: 'VCROSDMono';
}