#nav-link {
    border: 2px solid black;
    padding: 3px;
}

nav {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-family: 'VCROSDMono';
}

.navBarSpacerIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 33.3333333333%;

}

.navBarSpacerLogo {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 33.3333333333%;
}

.navBarSpacerCenterItems {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 33.3333333333%;
}

#logoText {
    margin-left: 30px;
}

a { text-decoration: none; 
    color: black;
}

a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }