ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav {
    background-color: gray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
}

.logo {
    height: 100%;
    width: 50%;
}
.space {
    flex-grow: 1;
}

nav {
    font-family: 'VCROSDMono', Arial, sans-serif;
}